<style>
    @font-face {
  font-family: "Integral";
  src: url("{{ 'IntegralCF-Bold.woff' | file_url }}") format("woff");
}
@font-face {
  font-family: "Integral";
  src: url("{{ 'IntegralCF-Bold.woff2' | file_url }}") format("woff2");
}
    .bfshee{
        width: 100%;
    display: flex;
    height: 80vh;
    align-items: center;
    }
    .bftxt{
        font-family: Integral !important;
        font-size: 15vmax;
    font-weight: 900;
    line-height: 0.7;
    }

.marquee-root {
  --marquee-width: 100vw;
  --marquee-height: 10vh;
  --marquee-elements: 20;
  --marquee-elements-displayed: 6;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 10s);
}
.perc{
    transform: rotate(6deg);
    margin: 0 0 5rem -1.1rem;
    z-index: 10;
}
.saletxt{
    transform: rotate(-2.5deg);
    margin: -12.2vw 0 12.2vw -1.1vw;
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color:#201F20;
  color: #eee;
  overflow: hidden;
  position: relative;
  border: 2px solid rgb(72, 72, 72);
}
/* .marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
} */
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
    padding: 0 0 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media screen and (max-width: 767px) {
  .marquee-root  {
    --marquee-width: 100vw;
    --marquee-height: 12vh;
    --marquee-elements-displayed: 2;
  }
}
.neon-txt{
    font-family: integral;
    -webkit-text-stroke: 2px #C76FCF;
    color: #201F20;
}
.slebf{
    color: #C76FCF;
}
.bfcont{
    margin: auto;
}
</style>
<div id="bfmain">
    <v-sheet class="bfshee">
        <div class="bfcont">
            <h2 class="bftxt blbf">BLACK</h2>
            <h2 class="bftxt frbf">FRIDAY</h2>
            <h2>
            <span class="bftxt slebf">SALE</span><span class="eabf">Early Access</span>
            </h2>
        </div>
    </v-sheet>
    <div class="marquee-root">
        <div class="marquee perc">
            <ul class="marquee-content">
              <li class="neon-txt" v-for="salesper in 20">${saleper}</li>
            </ul>
          </div>
    </div>
    <div class="marquee-root">
        <div class="marquee saletxt">
            <ul class="marquee-content">
              <li class="neon-txt" v-for="salestxt in 20">${saletxt}</li>
            </ul>
          </div>
    </div>
</div>
<script>
  const vue = new Vue({
    el: "#bfmain",
    data: () => ({
        saleper : '-70%',
        saletxt: 'SALE'
    }),
    vuetify: new Vuetify(),
    mounted(){
          const root = document.documentElement;
          const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
          const marqueeContent = document.querySelector("ul.marquee-content");

          root.style.setProperty("--marquee-elements", marqueeContent.children.length);

          for (let i = 0; i < marqueeElementsDisplayed; i++) {
              marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
          }
      },
    delimiters: ["${", "}"],
  });
</script>
{% schema %}
  {
    "name": "BlackDFriday",
    "class": "index-section",   	
	"settings":[
	 {
         "type": "checkbox",
		 "id": "fullwidth",
		 "label": "Fullwidth?",
		 "default": true
      },
	 {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        },			 	    
		{
        "type": "textarea",
        "id": "infolines",
        "label": "Information",
        "default": "Display store promotion text, collection information or store information",
		"info":"Use <strong> your text Here </strong> to make text bold"
        },
		{
            "type": "range",
            "id": "text-size",
            "label": "Font Size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 16
         },
		{
            "type": "color",
            "id": "sec_bg_clr",
            "label": "Background Color",
			"default":"#fafafa"	
		 },
		{
            "type": "color",
            "id": "text_clr",
            "label": "Text Color",
			"default":"#111"	
		 },
		 {
            "type": "range",
            "id": "text-padding",
            "label": "Text Padding",
            "min": 5,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 20
         }
	],
	"presets": [
      {
		 "name": "Black Friday",
         "category": "4. Text"
	 }
   ]
  }
{% endschema %}
