{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign product_thumb_size = '160x' -%}
{%- assign product_image_zoom_size = '1800x1800' -%}
{%- assign enable_zoom = settings.enable_zoom -%}

<style>
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto{
    padding: 0 !important;
  }
  #hg1 > div > div.hooper-progress{
    display: flex;
    transform: rotate(270deg);
    transform-origin: right center;
    width: 98%;
    height: 0.2rem;
    justify-content: flex-end;
  }
  @media only screen and (max-width:767px){
    #hg1{
      height:100vw !important;
    }
  }
  @media only screen and (min-width:767px){
    #hg1{
      height: 40vw !important;
    }
    #hg2{
      height: 75vh !important;
    }
  }
  .hooper-progress{
    margin-left: 1.5rem;
  }
  .prcol{
    padding: 2rem !important;
  }
  .hooper-progress-inner{
    background-color: #1b1b1b;
  }
  #prs-sheet{
    width: 100%;
  }
  #hg2 > div > ul > li.hooper-slide{
    height: 76px !important;
  }
</style>
  <div id="prslid">
    <v-app>
      <v-row no-gutters>
        <v-col cols="12" md="4" class="prcol prcol2">
      <div
      class="d-flex justify-center mb-6 bg-surface-variant"
    >
    <v-col cols="10">
      <div
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="swiper mySwiper2"
    >
      <div class="swiper-wrapper">
          {% for media in product.media %}
          {% case media.media_type %}
            {% when 'image' %}
            <div class="swiper-slide">
                <img src="{{ media | img_url: '450x'}}" alt="{{ media.alt }}">
               </div>
               {% endcase %}
               {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

   
</v-col>
<v-col cols="2">
  <div thumbsSlider="" class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for media in product.media %}
          {% case media.media_type %}
            {% when 'image' %}
            <div class="swiper-slide">
                <img src="{{ media | img_url: '100x100'}}" alt="{{ media.alt }}">
               </div>
               {% endcase %}
               {% endfor %}
    </div>
  </div>
  </v-col>
   <!-- Initialize Swiper -->
   <script>
    var swiper = new Swiper(".mySwiper", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      loop: true,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  </script>
  </v-row>
    </v-app>
    
  </div>

<script>
  new Vue({
        el: "#prslid",
        components: {
            Hooper: window.Hooper.Hooper,
            Slide: window.Hooper.Slide,
            HooperProgress: window.Hooper.Progress
        },
        data() {
            return {
                hooperSettings: {
                    vertical:true,
                    itemsToShow:1,
                    infiniteScroll: false,
                    centerMode: true,
                }   
            }
        },
        vuetify: new Vuetify(),
        computed: {
        order () {
        switch (this.$vuetify.breakpoint.name) {
          case 'xs': return 'last'
          case 'sm': return 'last'
          case 'md': return 'first'
          case 'lg': return 'first'
          case 'xl': return 'first'
        }
      }
    },
        delimiters: ["${", "}"]
    })
</script>

