<style>
  .swiper-slide-thumb-active > img {
    opacity: 1 !important;
  }

  .swiper-slide-visible > img {
    background-color: #000000;
    opacity: 0.8;
  }
  /* .sw-th > .swiper-slide{
    width: 70px !important;
  } */
  .mySwiper {
    width: 30%;
  }
</style>
<v-app>
  <div id="prslid">
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign product_thumb_size = '160x' -%} {%- assign
    product_image_zoom_size = '1800x1800' -%} {%- assign enable_zoom =
    settings.enable_zoom -%}

    <div class="d-flex justify-center mb-6 bg-surface-variant">
      <v-sheet
        :height="heightS2"
        :width="widthS2"
        style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        class="swiper mySwiper2"
      >
        <div class="swiper-wrapper sw-sl">
          {% for media in product.media %} {% case media.media_type %} {% when
          'image' %}
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <img src="{{ media | img_url: '450x' }}" alt="{{ media.alt }}" />
            </div>
          </div>
          {% endcase %} {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </v-sheet>
      <v-sheet v-show="$vuetify.breakpoint.mobile" thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper sw-th">
          {% for media in product.media %} {% case media.media_type %} {% when
          'image' %}
          <div class="swiper-slide">
            <img src="{{ media | img_url: '100x100' }}" alt="{{ media.alt }}" />
          </div>
          {% endcase %} {% endfor %}
        </div>
      </v-sheet>
    </div>
  </div>
</v-app>

<script>
  const vue = new Vue({
    el: "#prslid",
    data: {
    },
    vuetify: new Vuetify(),
    computed: {
      widthS2() {
        switch (this.$vuetify.breakpoint.name) {
          case "xs":
            return "100%";
          case "sm":
            return "100%";
          case "md":
            return "30%";
          case "lg":
            return "30%";
          case "xl":
            return "30%";
        }
      },
      heightS2() {
        switch (this.$vuetify.breakpoint.name) {
          case "xs":
            return "90vh";
          case "sm":
            return "90vh";
          case "md":
            return "45vw";
          case "lg":
            return "45vw";
          case "xl":
            return "45vw";
        }
      }
    },
    mounted() {
      var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 2,
        slidesPerView: 5,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper(".mySwiper2", {
        direction: "vertical",
        mousewheel: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          mousewheel: true,
        },
        zoom: {
          maxRatio: 2,
          minRatio: 1.2,
        },
        thumbs: {
          swiper: swiper,
        },
      });
    },
    delimiters: ["${", "}"],
  });
</script>
